/***************
Clearfix Hack for Floated Elements
/***************/

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

main {
  background-image: url("https://media4.giphy.com/media/3xz2BwtWv1xE2ZKb96/giphy.gif?cid=ecf05e47wt6oapzdo3ldm027osmoq0d93axwaa85ehtwevwi&rid=giphy.gif&ct=g");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  width: 100%;
  font-family: "Oswald", sans-serif;
  height: 500px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  padding-top: 5%;
}


@media (min-width: 321px) and (max-width: 600px) {
main {
    width: 100%;
  height: 500px;
  }
}


iframe{
  margin-right: 5%;
}

@media (min-width: 321px) and (max-width: 600px) {
iframe {
  height: 150px;
  width: 150px;
  display: none;
  }
}

li {
  float: left;
  height: 10px;
  list-style: none;
  margin: 0 auto;
  text-align: center;
  padding-left: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  color: #CCAA33;
}


footer li {
  font-family: "Oswald", sans-serif;
  
  padding-top: 50px;
  width: 70px;
  list-style: none;
  padding-right: 80px;
  display: inline-block;
  border-bottom: 1px solid white;
  color: white;
}

li:hover{
color: yellow;

}

header img {
  width: 30%;
  height: 100px;
  float: left;
  text-align: center;
  
  opacity: 0.9;
}



.button1 {
  color: black;
  background: white;
  font-family: "Libre Franklin", sans-serif;
  height: 40px;
 
 
}



h3{
  font-size: 1.5em;
}


 .why {
  width: 100%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
  height: 100px;
     font-family: "Oswald", sans-serif;

  font: 1em;
} 

@media (min-width: 321px) and (max-width: 600px) {
.why{
    width: 100%;
  height: 200px;
  margin-bottom: 10%;
  }
}


.section1 {
  background: rgba(150, 158, 165, 0.5);
  color: black;
  font-family: "Oswald", sans-serif;
height: 550px;
  display: flex;
 margin-top: 5%;
  width: 100%;
  padding-top: 5%;
} 



@media (min-width: 321px) and (max-width: 600px) {
  .section1  {
  width: 100%;
  height: 700px;
    margin-bottom: 10%;
  }
}

ul:hover{
  background-color: black;
  color: white;
}

.visitUs{
  float: left;
  width: 40%;
  margin-left: 15%;
  height: 300px;
}

@media (min-width: 321px) and (max-width: 600px) {
.visitUs {
    width: 30%;
  height: 30px;
  float: left;
  }
}


.visitYou{
  float: right;
   width: 40%;
  margin-left: 20%;
  margin-right: 15%;
  height: 300px;
}

@media (min-width: 321px) and (max-width: 600px) {
.visitYou {
    width: 30%;
  height: 30px;
  float: right
  }
}

.volunteer {
  width: 100%;
  height: 100px;
  margin-top: 5%;
  margin-bottom: 10%;
  background-color: white;
    font-family: "Oswald", sans-serif;
text-align: center;
  font-size: 1em;
}

@media (min-width: 321px) and (max-width: 600px) {
.volunteer {
    width: 100%;
  height: 300px;
  margin-top: 10%;
  margin-bottom: 5%;
  }
}


body main span {
  display: block;
  color: black;
}


.image {
  width: 55%;
  margin-left: 15%;
  margin-top: 5%;
  margin-right: 25%;
  float: left;
  display: flex;
  height: 200px;
  margin-bottom: 5%;
}

body main section + section {
  background: white;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

footer {
  background-color: black;
  margin-top: 10%;
  color: white;
  height: 200px;
  width: 100%;
}

@media (min-width: 321px) and (max-width: 600px) {
footer {
    width: 100%;
  height: 300px;
  margin-top: 5%;
  }
}

.address{
  float: right;
}

footer h4 {
  color: white;
font-size: 1.5em;
  font-family: "Oswald", sans-serif;
  float: left;
  display: block;
}

footer li {
  font-family: "Oswald", sans-serif;
  float: left;
  padding-top: 50px;
  width: 70px;
  list-style: none;
  padding-right: 80px;
  display: inline-block;
  border-bottom: 1px solid white;
}

footer p {
  font-family: "Oswald", sans-serif;
  float: left;
  height: 80px;
  margin-top: 5%;
  display: inline-block;
  color: white;
}

footer img {
  width: 30px;
  height: 30px;
  float: right;
  padding-left: 100px;
}

.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 5em;
  color: #CCAA33;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

@media (min-width: 321px) and (max-width: 600px) {
.waviy span {
   font-size: 2em;
  }
}



h2 {
  text-align: center;
  font-size: 2.5em;
}

h1{
  color:#CCAA33 ;
}
