/***************
Clearfix Hack for Floated Elements
/***************/

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/*************
Color Scrollbar
/*************/

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar {
  width: 20px;
}
/***********************
/* Handle */
/**********************/

::-webkit-scrollbar-thumb {
  background: #ccaa33;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccaa33;
}

/****/
Fade-in Text
/****/


.fade-in-text {
 
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/****************
  Scrolling Text Effect
  /*******************/

#scroll-container {
  border-radius: 5px;
  overflow: hidden;
}

#scroll-text {
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

#scroll-text:hover {
  color: #ccaa33;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/**************************
Main Section
/**************************/

main {
  background-image: url("https://media1.giphy.com/media/Y1wEgYUY21PPQyzHV5/giphy.gif?cid=ecf05e47klfbxcjwgdo0hiszuorx8wtply5ho4d1g0fgm05f&rid=giphy.gif&ct=g");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  width: 100%;
  font-family: "Oswald", sans-serif;
  height: 700px;
  text-align: center;
}

@media (min-width: 321px) and (max-width: 600px) {
  main {
    width: 100%;
    height: 500px;
  }
}

.zen{
color: #ccaa33;
  font-size: 1.5em;
  width: 40%;
  margin-left: 30%;
}

iframe {
  border: 2px solid black;
}

@media (min-width: 321px) and (max-width: 600px) {
  iframe {
    height: 150px;
    width: 150px;
    display: none;
  }
}

/********************
Unordered Lists
/********************/

li {
  float: left;
  height: 10px;
  list-style: none;
  margin: 0 auto;
  text-align: center;
  padding-left: 40px;

  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  color: #ccaa33;
}

/****************
Buttons
/******************/

.button1 {
  color: black;
  background: white;
  font-family: "Libre Franklin", sans-serif;
  height: 40px;
}


.button2 {
  color: black;
  background: white;
  font-family: "Libre Franklin", sans-serif;
  height: 40px;
  margin-left: 20%;
}

.button1:hover, .button2:hover {
  background-color: #ccaa33;
  color: white;
}



/**************
Why Section
/***************/

.why {
  width: 100%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
  height: 100px;
  font-family: "Oswald", sans-serif;

  font: 1em;
}

@media (min-width: 321px) and (max-width: 600px) {
  .why {
    width: 100%;
    height: 200px;
    margin-bottom: 10%;
  }
}

ul,
li:hover {
  background-color: white;
  color: black;
}

/****************
Visit Us Section
/******************/

.section1 {
  background: rgba(150, 158, 165, 0.5);
  color: black;
  font-family: "Oswald", sans-serif;
  height: 550px;
  display: flex;
  margin-top: 1%;
  width: 100%;
  padding-top: 2%;
}

@media (min-width: 321px) and (max-width: 600px) {
  .section1 {
    width: 100%;
    height: 700px;
    margin-bottom: 10%;
  }
}

.visitUs {
  float: left;
  width: 40%;
  margin-left: 15%;
  height: 300px;
}

@media (min-width: 321px) and (max-width: 600px) {
  .visitUs {
    width: 30%;
    height: 30px;
    float: left;
  }
}

.visitYou {
  float: right;
  width: 40%;
  margin-left: 20%;
  margin-right: 15%;
  height: 300px;
}

@media (min-width: 321px) and (max-width: 600px) {
  .visitYou {
    width: 30%;
    height: 30px;
    float: right;
  }
}

.visitP {
  margin-left: 20%;
  width: 45%;
}

/***************
Volunteer Section
/******************/

.volunteer {
  width: 100%;
  height: 100px;
  margin-top: 5%;
  margin-bottom: 10%;
  background-color: white;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 1em;
}

@media (min-width: 321px) and (max-width: 600px) {
  .volunteer {
    width: 100%;
    height: 300px;
    margin-top: 10%;
    margin-bottom: 5%;
  }
}

body main span {
  display: block;
  color: black;
}

.image {
  width: 55%;
  margin-left: 15%;
  margin-top: 5%;
  margin-right: 25%;
  float: left;
  display: flex;
  height: 200px;
  margin-bottom: 5%;
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

body main section + section {
  background: white;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

/***************
Headings
/***************/

.waviy {
  position: relative;
  margin-right: 15%;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 8em;
  color: #ccaa33;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
  margin-right: 5%;
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  .waviy span {
    font-size: 2em;
  }
}

h1 {
  color: #ccaa33;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }

}

h2 {
  text-align: center;
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
  margin-left: 20%;
}

h3 p {
  margin-left: 20%;
  font-size: 1em;
}

/******************
Footer
/*********************/

footer {
  background-color: black;
  margin-top: 10%;
  color: white;
  height: 200px;
  width: 100%;
}

@media (min-width: 321px) and (max-width: 600px) {
  footer {
    width: 100%;
    height: 200px;
    margin-top: 5%;
  }
}

.address {
  float: right;
  margin: 0 auto;
  padding: 0;
}

footer h4 {
  color: white;
  font-size: 1.5em;
  font-family: "Oswald", sans-serif;
  float: left;
  margin: 0 auto;
  border-bottom: 2px solid #ccaa33;
}

footer p {
  font-family: "Oswald", sans-serif;
  float: left;
  height: 30px;
  display: inline-block;
  padding-top: 2%;
  color: white;
}

footer img {
  width: 30px;
  height: 30px;
  float: right;
  padding-left: 100px;
}

.rights {
  width: 100%;
  margin-left: 40%;
}

/**********
Icons
/*******/

.social:hover {
  color: #ccaa33;
}

